@font-face {
	font-family: Edosz;
	src: url('../fonts/edosz.ttf');
}

h1, h2, h3, h4, h5, h6 {
	font-family: Edosz;
}

.brand {
	width: 25px;
}
.jumbotron {
	height: 500px;
	background: url('../images/banner.jpg') no-repeat center;
}
.tab-pane {
	margin-top: 25px;
}
body {
	padding-top: 70px;
}
.error-template {
	padding: 40px 15px;text-align: center;
}
.error-actions {
	margin-top:15px;margin-bottom:15px;
}
.error-actions .btn {
	margin-right:10px;
}