<div class="panel panel-danger">
	<div class="panel-heading">
		<h1 class="panel-title">Characters</h1>
	</div>
	<div class="panel-body">
	<!-- <button class="btn btn-danger" type="button">
	  Alert <span class="badge">1</span>
	</button>
	<button class="btn btn-info" type="button">
	  Tough <span class="badge">2</span>
	</button>
	<button class="btn btn-success" type="button">
	  Strong <span class="badge">3</span>
	</button>
	<button class="btn btn-warning" type="button">
	  Fast <span class="badge">4</span>
	</button> -->
		<table id="tblCharacter" class="table"></table>
	</div>
</div>
<script src="js/views/character.js"></script>