<div id="header-bg" class="relative">
	<div id="header-logo" class="absolute"></div>
	<div id="header-hero" class="absolute"></div>
<div>
<div id="content">
	<div id="download">
		<ul class="nav nav-pills nav-justified">
			<li ng-repeat="item in menu | filter:notOther" role="presentation" style="padding: 10px;">
				<a href="{{item.gsx$url.$t}}" target="{{item.gsx$target.$t}}"><i class="glyphicon glyphicon-{{item.gsx$glyphicon.$t}}"></i> {{item.gsx$title.$t}}</a>
			</li>
		</ul>
	</div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=368768163172598";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
